{{ form_start(form) }}

<div class="row">

    <div class="col-2">{{ form_row(form.createdAt) }}</div>
    <div class="col-2">{{ form_row(form.onoff) }}</div>

</div>


<div class="row">

    <div class="col-12">{{ form_row(form.submit) }}</div>

</div>

{{ form_end(form) }}