{{ form_start(form) }}

<div class="row">

	<div class="col-2">{{ form_row(form.createdAt) }}</div>
	<div class="col-3">{{ form_row(form.agent) }}</div>
	<div class="col-3">{{ form_row(form.service) }}</div>
	<div class="col-2">{{ form_row(form.origine) }}</div>
	<div class="col-2">{{ form_row(form.clotureAt) }}</div>

</div>


<div class="row">

	<div class="col-12">{{ form_row(form.submit) }}</div>

</div>

{{ form_end(form) }}
